#about-section {
  margin-top: 10vh;
  margin-left: 10vh;
  padding-right: 0vh;
  border-top-left-radius: 10vh;
  border-bottom-left-radius: 10vh;
}

#about-text {
  font-size: 3.5vh;
  padding-left: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vh;
  text-align: justify;
}

.about-item {
  background-color: #e7f0dc;
  margin-bottom: 5vh;
  padding: 5vh;
  border-top-left-radius: 10vh;
  border-bottom-left-radius: 10vh;
}

.about-item h3 {
  width: fit-content;
  padding: 1vh;
  background-color: #556d3c;
  color: #e7f0dc;
}

.about-item p {
  font-size: 2.5vh;
}

@media (max-width: 768px) {
  #about-section {
    margin-left: 0vh;
  }

  #about-text {
    font-size: 2.5vh;
    padding-left: 4vh;
  }
}
