#about-section {
  margin-top: 10vh;
  margin-left: 5vw;
  padding-right: 0vw;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

#about-text {
  font-size: 25px;
  padding-left: 5vw;
  padding-bottom: 10vh;
  padding-right: 5vw;
  text-align: justify;
}

.about-item {
  background-color: #e7f0dc;
  margin-bottom: 5vh;
  padding: 5vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.about-item h3 {
  width: fit-content;
  padding: 1vh;
  background-color: #556d3c;
  color: #e7f0dc;
}

.about-item p {
  font-size: 18px;
}

@media (max-width: 768px) {
  #about-section {
    margin-left: 0vw;
  }

  #about-text {
    font-size: 20px;
  }
}