footer {
  width: 100%;
  background-color: #40522c;
  padding: 3vh 0;
}

#contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact-section img {
  width: 20px;
}

#contact-section label {
  font-size: 17.5px;
}

.contact-social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
}

.contact-social-media-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1.2vh;
  gap: 1vw;
  color: #e7f0dc;
}

@media (max-width: 768px) {
  #contact-section img {
    width: 20px;
  }

  #contact-section label {
    font-size: 12.5px;
  }

  .contact-social-media {
    gap: 0.5vw;
  }

  .contact-social-media-item {
    gap: 1.5vw;
  }
}
