body {
    margin: 0;
    background-color: #E7F0DC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #597445;
}

h1 {
    color: #597445;
    cursor: default;
}

h2 {
    color: #658147;
    cursor: default;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

button {
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

.section-container {
    background-color: #FEF2F2;
    margin-bottom: 5vh;
    padding: 5vh;
}

.section-container h2 {
    font-size: 8vh;
}