.menu-container {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.menu-button {
    background-color: transparent;
    border: none;
    color: #658147;
    font-size: 2.25vh;
    transition: 0.2s;
}

.menu-button:hover {
    color: #40522c;
}

@media (max-width: 768px) {
    .menu-container {
        height: 6vh;
        justify-content: space-around;
    }
}